/* Custom Variables */
:root {
  /* Fonts */
  --ff-primary: "Inter", sans-serif;
  --ff-title: "Lora", serif;
  /* Font Sizes */
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 3rem;
  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
  /* Light mode colors */
  --text: hsl(231, 47%, 6%);
  --bg: hsl(227, 46%, 92%);
  --primary: hsl(230, 45%, 28%);
  --primary-alt: hsl(230, 45%, 50%);
  --alert: hsl(0, 93%, 70%);
  --secondary: hsl(231, 42%, 81%);
  --accent: hsl(91, 45%, 47%);
  /* Dark mode colors */
  --text-dark: hsl(231, 47%, 94%);
  --bg-dark: hsl(227, 46%, 8%);
  --primary-dark: hsl(230, 45%, 72%);
  --primary-alt-dark: hsl(230, 45%, 60%);
  --secondary-dark: hsl(231, 43%, 19%);;
  --alert-dark: hsl(0, 94%, 26%);
  --accent-dark: hsl(91, 45%, 53%);
  /* Border radius */
  --br-soft: 1rem;
  --br-round: 50%;
  color-scheme: light dark;
}

/* BASE STYLES */
body {
  min-height: 100svh;
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  font-size: clamp(0.9375rem, 0.9086rem + 0.1282vw, 1.0625rem);
  background-color: light-dark(var(--bg), var(--bg-dark));
  color: light-dark(var(--text), var(--text-dark));
  line-height: 1.5;  
}

h1, h2, h3 {
  line-height: 1.1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  margin-inline: auto;
  margin-block-start: var(--spacing-300);
  padding: var(--spacing-300);
  width: clamp(20rem, 92vw, 68rem);
  border-radius: var(--spacing-200);
  background-color: light-dark(var(--secondary), var(--secondary-dark));
}

.header {
  padding: var(--spacing-300);
  text-align: center;
}

.title {
  margin-bottom: var(--spacing-150);
  font-family: var(--ff-title);
  font-size: var(--fs-700);
}

.description {
  font-style: italic;
}

.start-section {
  text-align: center;
}

.sub-heading {
  margin-bottom: var(--spacing-100);
}

.start-section p {
  margin-bottom: var(--spacing-500);
}

.form-footer {
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button styles */
.btn,
.choice-btn {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--spacing-100);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  .btn {
    border: 2px solid currentcolor;
  }
}

.btn-primary {
  padding-inline: 1.25em;
  background: light-dark(var(--primary), var(--primary-dark));
  color: light-dark(var(--text-dark), var(--text));
  font-weight: 500;
  align-self: center;
}

.btn-primary:hover {
  transform: translate(0, -3px);
}

.btn-primary:hover,
.btn-primary:focus-within {
  /* box-shadow: 0 20px 80px -10px var(--primary-dark); */
  background: light-dark(var(--primary-alt), var(--primary-alt-dark));
  /* color: var(--text-dark); */
}

.choice-btn {
  color: light-dark(var(--text), var(--text-dark));
  border: 1px solid;
  border-color: light-dark(var(--text), var(--text-dark))
}

.choice-btn:hover,
.choice-btn:focus-within {
  background: light-dark(var(--primary), var(--primary-dark));
  color: light-dark(var(--text-dark), var(--text));
  border-color: light-dark(var(--primary), var(--text));
}

/* quiz styles */
.quiz-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.question-container {
  padding: 0;
  border: none;
}

.question-title {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.09615rem + 0.128205vw, 1.25rem);
}

.answers-container {
  padding-block: var(--spacing-300);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: 1px solid;
  border-color: light-dark(var(--text), var(--text-dark));
}

.answer input[type="radio"]:checked+label {
  background: light-dark(var(--primary-alt), var(--primary-alt-dark));
  color: light-dark(var(--text-dark), var(--text));
  border-color: light-dark(var(--primary-alt), var(--primary-alt-dark));
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-500);
}

.score-message {
  font-size: var(--fs-500);
  font-weight: 500;
}

.correct-answer {
  background: light-dark(var(--accent), var(--accent-dark)) !important;
  border-color: light-dark(var(--accent), var(--accent-dark)) !important;
  color: var(--text);
}

.incorrect-answer {
  background: light-dark(var(--alert), var(--alert-dark)) !important;
  border-color: light-dark(var(--alert), var(--alert-dark)) !important;
  color: light-dark(var(--text), var(--text-light)) !important;
}